<section id="home" class="active">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 info">
        <img
          class="person-circle"
          src="assets/images/person-circle.png"
          alt="person circle"
        />
        <h1><span>I'm</span> Lana,</h1>
        <div class="field">
          <h2></h2>
        </div>
        <p>
          I design and develop services for customers of all sizes,
          specializing in creating stylish, modern websites, web services
          and online stores.
        </p>
        <a class="btn-custom-blue" href="assets/files/cv.pdf" download
          >Download CV</a
        >
        <div class="socials">
          <ul>
            <li>
              <a href="#">
                <i class="lab la-linkedin-in"></i>
                <span>Linkedin</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="lab la-facebook-f"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="lab la-github"></i>
                <span>Github</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="lab la-stack-overflow"></i>
                <span>Stack Overflow</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 image">
        <img src="assets/images/person-home.png" alt="person home" />
      </div>
    </div>
  </div>
</section> 