<div id="sidebar">
  <div class="toggle-sidebar">
    <i class="las la-bars"></i>
  </div>
  <div class="logo">
    <img src="assets/images/logo.png" alt="" />
  </div>
  <nav>
    <ul>
      <li>
        <a href="#home" class="active inner-link">
          <i class="las la-home"></i>
          <span>Home</span>
        </a>
        <span>Home</span>
      </li>
      <li>
        <a href="#about_me" class="inner-link">
          <i class="las la-address-card"></i>
          <span>About Me</span>
        </a>
        <span>About Me</span>
      </li>
      <li>
        <a href="#my_resume" class="inner-link">
          <i class="las la-file"></i>
          <span>My Resume</span>
        </a>
        <span>My Resume</span>
      </li>
      <li>
        <a href="#my_work" class="inner-link">
          <i class="las la-briefcase"></i>
          <span>My Work</span>
        </a>
        <span>My Work</span>
      </li>
      <li>
        <a href="#testimonial" class="inner-link">
          <i class="las la-comment-alt"></i>
          <span>Testimonial</span>
        </a>
        <span>Testimonial</span>
      </li>
      <li>
        <a href="#contact_me" class="inner-link">
          <i class="las la-phone"></i>
          <span>Contact Me</span>
        </a>
        <span>Contact Me</span>
      </li>
    </ul>
  </nav>
  <div class="toggle-mode">
    <div class="outer" onclick="toggleMode()">
      <div class="inner"></div>
    </div>
  </div>
</div> 