<section id="testimonial">
  <div class="text-center">
    <header class="has-bg">
      <img src="assets/images/h1-bg.png" alt="h1 bg" />
      <img src="assets/images/h1-bg-light.png" alt="h1 bg" />
      <h1>Testimonial</h1>
    </header>
  </div>
  <section class="main-section">
    <div class="images">
      <img src="assets/images/testimonials/1.png" alt="testimonial" />
      <img src="assets/images/testimonials/2.png" alt="testimonial" />
      <img
        src="assets/images/testimonials/3.png"
        alt="testimonial"
        class="active"
      />
      <img src="assets/images/testimonials/4.png" alt="testimonial" />
      <img src="assets/images/testimonials/5.png" alt="testimonial" />
    </div>
    <div class="comments">
      <div class="item">
        <div class="box">
          <p>
            <span>&lsquo;&lsquo;</span>
            1.There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour.
            <span>&rsquo;&rsquo;</span>
          </p>
        </div>
        <div class="writer">
          <span class="name">Edgar Florentin,</span>
          <span class="field">CEO of company</span>
        </div>
      </div>
      <div class="item">
        <div class="box">
          <p>
            <span>&lsquo;&lsquo;</span>
            2.There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour.
            <span>&rsquo;&rsquo;</span>
          </p>
        </div>
        <div class="writer">
          <span class="name">Frank Sinatra,</span>
          <span class="field">King of America</span>
        </div>
      </div>
      <div class="item active">
        <div class="box">
          <p>
            <span>&lsquo;&lsquo;</span>
            3.There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour.
            <span>&rsquo;&rsquo;</span>
          </p>
        </div>
        <div class="writer">
          <span class="name">Edgar Florentin,</span>
          <span class="field">CEO of company</span>
        </div>
      </div>
      <div class="item">
        <div class="box">
          <p>
            <span>&lsquo;&lsquo;</span>
            4.There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour.
            <span>&rsquo;&rsquo;</span>
          </p>
        </div>
        <div class="writer">
          <span class="name">Edgar Florentin,</span>
          <span class="field">CEO of company</span>
        </div>
      </div>
      <div class="item">
        <div class="box">
          <p>
            <span>&lsquo;&lsquo;</span>
            5.There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour.
            <span>&rsquo;&rsquo;</span>
          </p>
        </div>
        <div class="writer">
          <span class="name">Edgar Florentin,</span>
          <span class="field">CEO of company</span>
        </div>
      </div>
    </div>
  </section>
</section> 